@import "tailwindcss";

@theme {
  --color-color1: #21282e;
  --color-color2: #32424b;
  --color-color3: #486770;
  --color-color4: #67949d;
  --color-color5: #94d3d5;
  --breakpoint-xs: 23rem;
}

@layer components {
  .fade-in-up-delayed {
    @apply opacity-0 translate-y-8 transition-all delay-150 duration-1500;
  }
}
